.wrp1 {
  background: url("/image/contour.svg");
}
.profile {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1rem;
}
.cap {
  width: 85%;
}
.cap h4 {
  font-size: 1.4rem;
  color: #1b734f;
  padding-bottom: 0.5rem;
}
.inf {
  font-weight: 500;
  font-size: 1.15rem;
}
.gr {
  font-size: 1.15rem;
  color: #c2c2c2;
}
@media (max-width: 640px) {
  :root {
    font-size: 10px;
  }
  .wrp1 {
    height: 100vh;
    width: 100%;
    padding: 0rem 4rem;
  }
  .log {
    padding: 6rem 0rem;
  }
  .logo {
    height: 9rem;
    width: 18rem;
  }
  .world {
    width: 100%;
  }
  .bg {
    display: none;
  }
}
